[Unit]
Description=Start byedpictl service at boot
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl is-system-running --wait
ExecStart=/usr/local/bin/byedpictl tun start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
